################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/MapleStory/MapleStory
/.vs/MapleStory/v16/ipch
/MapleStory/x64/Debug/MapleStory.tlog
/MapleStory/x64/Debug
/MapleStory/x64/Release
/x64
/.vs/MapleStory/v16/Browse.VC.db
/.vs/MapleStory/v16/Browse.VC.opendb
