################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/MapleStory/v16/ipch
/MapleStory/MapleStory/Back
/MapleStory/MapleStory/Character
/MapleStory/MapleStory/Mob
/MapleStory/MapleStory/Object
/MapleStory/MapleStory/Portal
/MapleStory/MapleStory/Tile
/MapleStory/MapleStory/xml
/MapleStory/MapleStory
/MapleStory/x64/Release/MapleStory.tlog
/MapleStory/x64/Release
/x64/Release
*.db
*.opendb
*.tlog
*.obj
*.res
*.pch
*.idb
*.pdb
*.log
*.exe
*.ilk
